body {
    background-color: #e2e2e2;
    margin-left: 64px;
    margin-right: 64px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #3f505c;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 18px;
}

section {
    border: 4px solid #b1b1b1;
    background-color: #ffffff; 
    padding: 16px;
    margin-bottom: 15px;
    border-radius: 8px;
}

a {
  color: #328d2a;
  text-decoration: none;
}

a:hover {
  color: #3fbc45;
}

a:visited {
  color: #888888;
}

button {
  background-color: #328d2a;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: #3fbc45;
}

input:focus,
textarea:focus,
select:focus {
  background-color: #fff8b5;
  outline: none;
}

li:last-child {
  font-style: italic;
}

@font-face {
  font-family: "leipäteksti";
  src: url("Indie_Flower/IndieFlower-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "otsikko";
  src: url("Birthstone/Birthstone-Regular.ttf");
  font-weight: bold;

}
p {
    font-family: "leipäteksti", Arial, sans-serif;
}
h1 {
    font-family: "Otsikko", Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
}
h2 {
    font-family: "Otsikko", Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
}
h3 {
    font-family: "Otsikko", Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
}
h4 {
    font-family: "Otsikko", Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
}
h5 {
    font-family: "Otsikko", Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
}
h6 {
    font-family: "Otsikko", Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

td {
    font-family: "leipäteksti", Arial, sans-serif;
}
tr {
    font-family: "leipäteksti", Arial, sans-serif;
}
div {
    font-family: "leipäteksti", Arial, sans-serif;
}
nav {
    font-family: "leipäteksti", Arial, sans-serif;
}
summary {
    font-family: "leipäteksti", Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;

  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "ylapalkki"
    "navigaatio"
    "sisalto"
    "alapalkki";
}

header {
  grid-area: ylapalkki;
}

nav {
  grid-area: navigaatio;
}

main {
  grid-area: sisalto;
}

footer {
  grid-area: alapalkki;
}
