body {
    background-color: #e2e2e2;
    margin-left: 64px;
    margin-right: 64px;
    font-family: Arial, sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #3f505c;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 18px;
}

section {
    border: 4px solid #b1b1b1;
    background-color: #ffffff; 
    padding: 16px;
    margin-bottom: 15px;
    border-radius: 8px;
}

a {
  color: #328d2a;
  text-decoration: none;
}

a:hover {
  color: #3fbc45;
}

a:visited {
  color: #888888;
}

button {
  background-color: #328d2a;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: #3fbc45;
}

input:focus,
textarea:focus,
select:focus {
  background-color: #fff8b5;
  outline: none;
}

li:last-child {
  font-style: italic;
}