* {
  box-sizing: border-box;
<<<<<<< HEAD
  
=======
>>>>>>> 1ce6f2e2a3d489635dafc22e357195b3f8a8baa1
}

body {
  margin: 0;
  background-color: #e2e2e2;
  color: #333;
  min-height: 100vh;

  display: flex;
  justify-content: center;
<<<<<<< HEAD
  
=======
>>>>>>> 1ce6f2e2a3d489635dafc22e357195b3f8a8baa1
}

.container {
  max-width: 1000px;
  width: 100%;
  background-color: #ffffff;
  border: 2px solid black;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: "leipateksti";
  src: url("Indie_Flower/IndieFlower-Regular.ttf");
}

@font-face {
  font-family: "otsikko";
  src: url("Birthstone/Birthstone-Regular.ttf");
}

p, li, td, tr, div, nav, summary {
  font-family: "leipateksti", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "otsikko", Arial, sans-serif;
  font-weight: bold;
  color: #3f505c;
  margin: 0;
}

h1 {
  font-size: 3em;
}

header {
  padding: 1em;
  border-bottom: 2px solid black;
}


nav {
  padding: 1em;
  border-bottom: 2px solid black;
}

nav a {
  margin-right: 3em;
  text-decoration: none;
  color: #328d2a;
}

nav a:hover {
  color: #3fbc45;
}

nav a:visited {
  color: #888888;
}


main:not(.main-container) {
  display: flex;
  flex: 1;
<<<<<<< HEAD
  
=======
>>>>>>> 1ce6f2e2a3d489635dafc22e357195b3f8a8baa1
}

aside {
  padding: 3em;
  border-right: 2px solid black;
}

aside a {
  display: block;
  margin-bottom: 2em;
  color: #328d2a;
  text-decoration: none;
}

aside a:hover {
  color: #3fbc45;
}

section {
  flex: 1;
  padding: 5em;
}

section h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

footer {
  padding: 3em;
  border-top: 2px solid black;
  text-align: center;
}

footer a {
  margin: 0 2em;
  text-decoration: none;
  color: #328d2a;
}

footer a:hover {
  color: #3fbc45;
}

button {
  background-color: #328d2a;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: #3fbc45;
}

input:focus,
textarea:focus,
select:focus {
  background-color: #fff8b5;
  outline: none;
}

li:last-child {
  font-style: italic;
<<<<<<< HEAD
}
 footer, main, header, nav {background-image: url("paasivutausta.avif");
  background-size: auto 100% ;        
  background-attachment: fixed; 
  background-position: center top; 
  background-size: cover;
  background-size: contain;
  
}
aside {
  padding: 3em;
  border-right: 2px solid black;

  background-image: url("alasivutausta.jpg");
  background-repeat: repeat-y;      /* vain pystysuunnassa */
  background-size: 100% auto;       /* täyttää leveyden */
  background-position: top center;  /* alkaa ylhäältä */
=======
>>>>>>> 1ce6f2e2a3d489635dafc22e357195b3f8a8baa1
}